<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/img/coffee_cup_hot_icon.ico" rel="icon">
    <link rel="stylesheet" href="/css/index.css">
    <title>Tea Network Page</title>
</head>
<body>
    <nav class="navbar-primary">
        <div class="container text-white">
            <h1 class="site-title">Tea we all love</h1>
            <ul class="display-f">
                <li class="ml-2 text-hover-info"><a href="index.html">Home</a></li>
                <li class="ml-2 text-hover-info"><a href="about.html">About</a></li>
                <li class="ml-2 text-hover-info"><a href="survey.html">Survey</a></li>
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div class="container mt-2">    
        <h1 class="row justify-center font-xxl">It is Tea Time</h1>
        <div class="row justify-center mt-1"> 
            <video width="400px" height="auto" controls autoplay>
                <source src="/media/tea-time-short-animation.mp4.mp4" type="video/mp4"/>
                <source src="/media/tea-time-short-animation.webmhd.webm" type="video/webm">
                <source src="/media/tea-time-short-animation.oggtheora.ogv" type="video/ogg">
                Your browser does not support this video format.
            </video>
        </div>
    </div>

    <div class="container mt-3">
        <table class="table-yellow table-striped">
            <caption class="font-xl">Milk Tea Network</caption>
            <tr>
                <th>Name</th>
                <th>Flavors</th>
                <th>Temperature</th>
                <th>Ingredients</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Taiwan Bubble Tea</td>
                <td>A well balanced and sweet milky beverage with boba pearls</td>
                <td>Cold</td>
                <td>black tea, sugar, black tapioca pearls, ice, water</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing</td>
            </tr>
            <tr>
                <td>Hongkong Milk-Tea</td>
                <td>Very strong, perfectly sweet</td>
                <td>Hot</td>
                <td>2/3 or more steamed milk and espresso</td>
                <td>Pour the espresso through the milk and serve.</td>
            </tr>
            <tr>
                <td>Thai Iced-Tea</td>
                <td>sweetened condensed milk</td>
                <td>Cold</td>
                <td>strongly-brewed black tea, sugar and sweetened condensed milk, and served over ice</td>
                <td>often spiced with ingredients such as star anise, crushed tamarind, cardamom, and occasionally others as well</td>
            </tr>
            <tr>
                <td>Burma La-Phet-Yay</td>
                <td>Very strong, perfectly sweet</td>
                <td>Hot</td>
                <td>brewed black tea(a-kya-yay), condensed milk</td>
                <td>Can be sweetened with sugar or creme.</td>
            </tr>
            <tr>
                <td>Indian Masala Chai</td>
                <td>similar to gingerbread or pumpkin spice</td>
                <td>Hot</td>
                <td>milk, sugar, tea powder and water</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing</td>
            </tr>
            <tr>
                <td>Indonesia Masala Tea<span class="badge-orange text-white ml-1">new</span></td>
                <td>similar to gingerbread or pumpkin spice</td>
                <td>Hot</td>
                <td>milk, sugar, tea powder and water</td>
                <td>A specialty in Indonesia and Malaysia.</td>
            </tr>
        </table>
    </div>

    <footer class="bg-gray-light-7 pt-2 pb-2 mt-5">
        <div class="container row justify-center">
            &#169;&#65039; copyright 2023 Marc
        </div>
    </footer>

</body>
</html>