<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/img/coffee_cup_hot_icon.ico" rel="icon">
    <link rel="stylesheet" href="/css/index.css">
    <title>Tea Home Page</title>
</head>
<body>
    <nav class="navbar-primary">
        <div class="container text-white">
            <h1 class="site-title">Tea we all love</h1>
            <ul class="display-f">
                <li class="ml-2 text-hover-info"><a href="index.html">Home</a></li>
                <li class="ml-2 text-hover-info"><a href="about.html">About</a></li>
                <li class="ml-2 text-hover-info"><a href="survey.html">Survey</a></li>
            </ul>
        </div>
    </nav>

    <!-- intro -->
    <div class="container mt-3 bg-orange-dark-2">
        <div class="row justify-center">
            <div class="col-12-xs col-5-md mt-3">
                <h2 class="font-xl">What is milk-tea?</h2>
                <p class="text-gray-light-7 mt-2 mb-3">Milk tea is a popular drink in Hong Kong, Taiwan, and Thailand, the original three countries and territories included in the movement. Netizens from Myanmar and India who later joined also share their own variations of tea with milk. Taiwanese bubble tea, Hong Kong-style milk tea, Thai tea and Burmese milk tea are all local variations of milk tea with strong similarities.</p>
            </div>
            <div class="col-12-xs col-5-md">
                <img src="/img/milk-tea-alliance-1.jpg" alt="a group of tea cups" width="750px" height="300px" class="p-2">
            </div>
        </div>
    </div>

    <div class="row justify-center mt-1">
        <button class="btn-outlined-primary text-hover-white font-md m-1"><a href="#taiwan">Taiwan Bubble Tea</a></button>
        <button class="btn-outlined-secondary text-hover-white font-md m-1"><a href="#hongkong">Hongkong Milk Tea</a></button>
        <button class="btn-outlined-info text-hover-white font-md m-1"><a href="#thai">Thai Tea</a></button>
        <button class="btn-outlined-error text-hover-white font-md m-1"><a href="#burma">Burma Milk Tea</a></button>
        <button class="btn-outlined-purple text-hover-white font-md m-1"><a href="#india">Indian Tea</a></button>
    </div>

    <div class="container mt-3">
        <!-- Taiwan -->
        <section id="taiwan">
                <aside class="mt-2 mr-2">
                    <figure>
                        <img src="/img/taiwan-bubble-tea-1.jpg" alt="a cup of taiwan bubble tea">
                        <figcaption class="text-white bg-info font-lg justfy-center">Taiwan Bubble Tea</figcaption>
                    </figure>
                </aside>
                <div class="bg-black text-white card" style="height: auto;">
                    <div class="card-title">
                        <h3 class="font-xl">Taiwan Bubble Tea</h3>
                    </div>
                    <div class="card-body">
                        <p class="font-lg">
                            For the uninitiated, bubble tea is a Taiwanese tea-based drink with tapioca balls also commonly known as “boba.” Although bubble tea can be made with other liquids and toppings, many people often order the standard: milk tea with boba. However, in Taiwan, the birthplace of boba (depending on which origin story you believe), locals often customize their drinks as if they own the shop! In fact, there are countless more flavors and toppings in Taiwan than we ever see abroad. The beauty of bubble tea is in its limitless possibility—you can completely customize your drink to your liking! Even in our study of just five stores, there are 157 unique drinks. Take a closer look by making your own drink below and find out why Taiwanese people are so proud of and crazy about this little cup of magic.
                        </p>
                    </div>
                </div>   
        </section>

        <!-- Hongkong -->
        <section id="hongkong" class="mt-3">
            <aside class="mt-2 mr-2">
                <figure>
                    <img src="/img/hong-kong-milk-tea-1.jpg" alt="a cup of Hongkong milk-tea">
                    <figcaption class="text-white bg-info font-lg justfy-center">Hongkong Milk-Tea</figcaption>
                </figure>
            </aside>
            <div class="bg-black text-white card" style="height: auto;">
                <div class="card-title">
                    <h3 class="font-xl">Hongkong Milk-Tea</h3>
                </div>
                <div class="card-body">
                    <p class="font-lg">Hong Kong Milk Tea is a magical, highly caffeinated, wonderfully smooth morning drink that I had for the first time in its true glory on our trip to Hong Kong.

                        Always served piping hot and perfectly sweetened, it has just the right amounts of evaporated milk and sweetened condensed milk.
                        
                        It gives you a jolt without any unpleasant buzz (speaking from my own experience anyway), and a blend of teas makes for a wonderfully strong and fragrant cuppa. It went well with everything from a plate of Hainanese chicken at a hole-in-the-wall lunch joint to a Portuguese custard tart, to a custard bun eaten on the street.
                    </p>
                </div>
            </div>   
        </section>

        <!-- Thailand -->
        <section id="thai" class="mt-3">
            <aside class="mt-2 mr-2">
                <figure>
                    <img src="/img/Thai-iced-tea-1.jpg" alt="a cup of thai iced milk-tea">
                    <figcaption class="text-white bg-info font-lg justfy-center">Thailand Iced Tea</figcaption>
                </figure>
            </aside>
            <div class="bg-black text-white card" style="height: auto;">
                <div class="card-title">
                    <h3 class="font-xl">Thailand Iced Milk-Tea</h3>
                </div>
                <div class="card-body">
                    <p class="font-lg">
                        Thai tea leaves are black tea leaves, commonly assam tea, that has had flavour added to it. This flavour is usually vanilla. The iconic orange colour is nothing but orange food colouring. I know...it's not the exotic tea made from secret Thai ingredients that you might have thought. But that doesn't make it any less delicious!

                        So the popular Thai iced tea is brewed from Thai tea leaves, and usually has sweetened condensed milk and evaporated milk added for creaminess and sweetness. There are other kinds of iced teas made from Thai tea leaves, such as this Thai lime iced tea that is super refreshing and is actually my personal favourite!
                    </p>
                </div>
            </div>   
        </section>

        <!-- Burma -->
        <section id="burma" class="mt-3">
                <aside class="mt-2 mr-2">
                    <figure>
                        <img src="/img/burmese-milk-tea-1.jpg" alt="a cup of burmese milk-tea">
                        <figcaption class="text-white bg-info font-lg justfy-center">Burmese Milk-Tea</figcaption>
                    </figure>
                </aside>
                <div class="bg-black text-white card" style="height: auto;">
                    <div class="card-title">
                        <h3 class="font-xl">Burmese Milk-Tea</h3>
                    </div>
                    <div class="card-body">
                        <p class="font-lg">
                            The Burmese term La-Phet-Yay (လက်ဖက်ရည်) means strictly milk tea. Clear tea has a totally different term Yay-Nway-Kyan (ရေနွေးကြမ်း) which is just hot water with tea leaves. I have seen people loosely translating Yay-Nway-Kyan as green tea, but Yay-Nay-Kyan isn’t limited to just green tea; it refers to all hot water drinks with any kind of tea, even herbal. In fact, an average household or restaurant in Myanmar uses black tea for Yay-Nay-Kyan as it is the most readily available throughout the country although other grades of tea are also produced.

                            Back to the milk tea version — despite their resemblance, it doesn’t have spices like Chai or added flavors/colors like the Thai version.
                        </p>
                    </div>
                </div>   
        </section> 

        <!-- India -->
        <section id="india" class="mt-3">
            <aside class="mt-2 mr-2">
                <figure>
                    <img src="/img/Chai-1.jpg" alt="a cup of indian masala chai">
                    <figcaption class="text-white bg-info font-lg justfy-center">Indian Masala Chai</figcaption>
                </figure>
            </aside>
            <div class="bg-black text-white card"  style="height: auto;">
                <div class="card-title">
                    <h3 class="font-xl">Indian Masala Chai</h3>
                </div>
                <div class="card-body">
                    <p class="font-lg">
                        Masala chai (or Spiced Chai), also known as Chaa in some regions, is a popular Indian hot beverage made by brewing black tea leaves with water, milk, and a blend of aromatic spices.

                        In India, Masala means "spice", and chai means "tea". Therefore, masala chai means tea infused with spices.


                        Here in the states, it is often known as "chai tea" or "chai tea latte". Most popular coffee chains Starbucks or Peets in the USA, have chai latte on their menu, but it doesn't taste like authentic Indian Masala Tea with Milk.

                        You can make masala tea by crushing a few whole spices in a mortar and pestle, while making tea or using a Chai Masala Powder.
                    </p>
                </div>
            </div>   
        </section>
    </div>

    <footer class="bg-gray-light-7 pt-2 pb-2 mt-5">
        <div class="container row justify-center">
            &#169;&#65039; copyright 2023 Marc
        </div>
    </footer>

</body>
</html>